---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//---from skeleton---
// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #29694f !default;
$font-color: #504f86 !default;
$title-color: #34336c !default;
$background-color: #ffedd6 !default;
$dark-background-color: #e5c599 !default;

// Typography
$font-family: "Source Sans Pro", Arial, sans-serif !default;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"normalize",
	"skeleton"
;

body {
	background-color: $background-color;
}

address {
	font-style: normal;
}

//---top---
#banner {
	background-color: $dark-background-color;
}

#site-header {
	margin-bottom: 1rem;
}

#site-title {
	color: $title-color;
	text-decoration: none;
	h1 {
		margin-bottom: 1rem;
	}
}

#site-address a {
	color: $font-color;
}

#site-navbar {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline;
	}
	a {
		display: inline-block;
		padding: 0.3rem 1rem;
	}
}
#site-navbar-main .selected {
	background-color: $background-color;
}
#site-navbar-secondary {
	background-color: $background-color;
	.selected {
		border: 2px $title-color solid;
	}
}

@import "vbs";
