<div id="banner">
<header class="container" id="site-header">

<a href="{{ '/' | prepend: site.baseurl }}" id="site-title"><h1>Truth&nbsp;Chinese Alliance&nbsp;Church</h1></a>

{% if page.address_in_header %}
<address id="site-address"><a href="{{ site.data.misc.gmaps }}" target="_blank">4047 Durfee Ave, El&nbsp;Monte, CA</a><br>
<a href="tel:16263795508">(626) 379-5508</a>
</address>
{% endif %}

<nav id="site-navbar">
<ul id="site-navbar-main"><!--
	{% for p in site.data.nav %}
	--><li><a href="{{ p.url | prepend: site.baseurl }}"{% if page.url == p.url or (p.url != '/' and page.url contains p.url) %}{% assign selected = p %} class="selected"{% endif %}>{{ p.title }}</a></li><!--
	{% endfor %}
--></ul>{% if selected.children %}
<ul id="site-navbar-secondary">
	<li><a href="{{ selected.url | prepend: site.baseurl }}"{% if page.url == selected.url %} class="selected"{% endif %}>{{ selected.title }}</a></li><!--
	{% for p in selected.children %}
	--><li><a href="{{ p.url | prepend: site.baseurl }}"{% if page.url == p.url %} class="selected"{% endif %}>{{ p.title }}</a></li><!--
	{% endfor %}
--></ul>
{% endif %}
</nav>

</header>
</div>
