//---sidebar---
#vbs-sidebar {
	margin-bottom: 2rem;
}
@media (#{$bp-larger-than-mobile}) {
#vbs-sidebar {
	margin-bottom: 0;
}
}

.vbs-sidebar-row:first-of-type {
	margin-top: 0;
}
.vbs-sidebar-row {
	margin-top: 1rem;
}

.vbs-sidebar-label {
	font-style: italic;
}

//---main---
.image-full {
	max-height: 360px;
	width: auto;
	margin: 0 auto;
	display: block;
}
.image-left, .image-right {
	width: 30%;
	max-width: 200px;
	clear: both;
}
.image-left {
	float: left;
}
.image-right {
	float: right;
}
