//---sidebar---
#vbs-sidebar {
	margin-bottom: 2rem;
}
@media (#{$bp-larger-than-mobile}) {
#vbs-sidebar {
	margin-bottom: 0;
}
}

.vbs-sidebar-row:first-of-type {
	margin-top: 0;
}
.vbs-sidebar-row {
	margin-top: 1rem;
}

.vbs-sidebar-label {
	font-style: italic;
}
